<h2>FORM TO ADD NEW PRODUCT</h2>

<%= form_for @product do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>

	<%= f.label :description %>
	<%= f.text_field :description %><br>

	<%= f.label :price_in_cents %>
	<%= f.number_field :price_in_cents %><br>

	<%= f.submit %>
<% end %>

<%= link_to "Go Back", root_path %>
