<div class="">
	<h2>SHOW PRODUCT</h2>

	<%= image_tag @product.pic_url %>
	<%= @product.name %><br>
	<%= @product.price_in_cents %><br>
	<%= @product.description %>

</div>

<div class="show_all_reviews">
	<h2>ALL PRODUCTS</h2>
	<%= @product.reviews.each do |review| %>
		<%= review.text %>
		<p>Reviewer: <%= review.name %></p>
		<p>Created at: <%= review.created_at %></p>
	<% end %>
</div>
