<h1>Editing Review</h1>

<%= form_for @review, url: edit_product_review_path(@review), method: :patch do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>

	<%= f.label :text %>
	<%= f.text_field :text %><br>

	<%= f.submit %>
<% end %>
