<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav>
  <%= link_to "Create new product?", new_product_path %> | <%= link_to "Go Back", root_path %>
  <% if session[:user_id] %>
    <p>
      <%= link_to 'Home', root_path %>
      |
      <%= link_to 'Log Out', sessions_path, method: :delete %>
    </p>

    Hello User#<%= session[:user_id] %><br>
    <% else %>
    <p>
      <%= link_to 'New User', new_users_path %> | <%= link_to 'Login', new_sessions_path %>
    </p>
  <% end %>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>
</nav>

  <body>

    <%= yield %>



  </body>
</html>
